.header {
  background-color: black;
  color: white;
  display: flex;
}

.header .logo img {
  height: 150px;
}

h1 {
  font-size: 28px;
  color: white; 
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu:hover {
  background-color: rgba(255,215,0,0.7); 
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

/* Aturan untuk dropdown level kedua */
@media screen and (min-width: 769px) {
  .dropdown-submenu.dropend > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 0.1em;
  }
}

.container-fluid {
  margin-top: 0 !important;
}

.col-md-9 {
  margin-top: 20px;
}

.col-md-3 {
  background-color: black;
  padding: 10px 20px;
  padding-bottom: 0px;
}